.Notic-title{
    padding: 50px;
      display: flex;
      justify-content: center;
      margin: auto;
}

.Notic_table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    border-collapse: separate;
    border-spacing: 0;
    border: none; 
}

.Notic_table tbody,
.Notic_table tr,
.Notic_table td {
    display: contents;
}

.Notic_box {
    cursor: pointer;
    display: block;
    background-color: #fe2a2a7d;
    border: none;
    border-radius: 12px;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
    width: auto;
    height: fit-content;
}

.Notic_box:hover {
    transform: translateY(-3px);
    box-shadow: 10px 10px 5px rgb(224, 224, 224);

}

.Notic_box span {
    font-size: 0.9rem;
    color: #212b34;
    margin-bottom: 8px;
    display: block;
}

.Notic_box div {
    font-size: 1.1rem;
    color: #212529;
    font-weight: 500;
}