/* //////////////////////////////////////////// */

.pageHead {
    margin: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* spread left, center, right */
  gap: 10px;
  margin-bottom: 15px;
}

.sort-option {
  border:none; 
    flex: 0 0 auto; /* stays right */
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin-top: 0px;
}

.list-button{
  display: flex;
  padding: 5px;
  background: none;
  border :none;
}

.sort-by{
  font-size: 30px;
  justify-content: center;
  align-items: center;
    display: block;
    text-align: center;
    border-radius: 8px;
}

.sort-by p {
    font-weight:bold;
    margin-top: 0;
    margin-bottom: 0;
}

/* //////////////////////////////////////////////////// */
.maincontent {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-top: 2px solid black;
}

.LogTable {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border-radius: 6px;
  overflow: hidden;
}

.LogTable thead {
    border-top:1px solid #c3c3c3;
  background: #f4f6f8;
}

.LogTable th {
  text-align: center;
  padding: 12px 10px;
  font-weight: 600;
  font-size: 14px;
  border-right: 2px solid #c3c3c3;
  border-bottom: 2px solid #c3c3c3 ;
}
.LogTable thead th:last-child {
    border-right: none;
}

.LogTable td {
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.LogTable tbody tr:nth-child(even) {
  background: #fafafa;
}

.LogTable tbody tr:hover {
  background: #f1f7ff;
}
.LogTable tbody td {
      border-right: 2px solid #c3c3c3;
      text-align: center;
}

.LogTable tbody td:last-child{
    border-right: none;
}
